html {
    background-color: #1a1a1a;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.button {
    padding: 1% 1%;
    color: white;
    font-family: 'fira sans';
    background-color: #3a3a3a;
    cursor: pointer;
    margin: 2% 10px;
}

#binButton {
    position:fixed;
    right: 2%;
    top: 2%;
}

#bin {
    color:white;
    z-index: 1;
    width: 200%;
    height: 200%;
}

.input {
    width: 60%;
}

canvas {
    display: flex;
    align-items: flex-end;
    border: 2px solid white;
    float: right;
    width: 90%;
    height: 85%;
}

.bottomInput {
    padding: 1% 1%;
    color: black;
    background-color: lightgrey;
    cursor: text;
    margin: 10px 10px 10px 10px;
}

.output {
    background-color: lightgrey;
    margin: 10px 10% 10px 10px;
    width: 40%;
    height: 50%;
    border-radius: 5%;
    text-align: center;
    color: slategray;
}

.answer {
    color:darkslategrey;
}

.bottomBar {
    display: flex;
    align-items: center;
    bottom: 0;
    position: fixed;
    background-color: darkgrey;
    width: 100%;
    height: 15%;
}

.gateSelect {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color:rgb(83, 83, 83);
    height: 85%;
    width: 10%;
    top: 0;
    justify-content: space-evenly;
}